<h1>Activities</h1>

<ul>
	<% @activities.each do |activity| %>
		<% if activity.user_id == Current.user.id %>
			<li class="card">
				<h2><%= link_to activity.name, activity %></h2>
			</li>
		<% end %>
	<% end %>
</ul>


<%= link_to "New Activity", new_activity_path %>